<!DOCTYPE html>
<html class="x-admin-sm" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>NO—NAME</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="stylesheet" href="../../static/css/font.css" th:href="@{/css/font.css}">
    <link rel="stylesheet" href="../../static/css/xadmin.css" th:href="@{/css/xadmin.css}">
    <script src="./lib/layui/layui.js" charset="utf-8" th:src="@{/lib/layui/layui.js}"></script>
    <script type="text/javascript" src="./js/xadmin.js" th:src="@{/js/xadmin.js}"></script>
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div th:fragment="main_admin_list">
    <div class="layui-fluid">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-body ">
                        <div class="page">
                            <div>
                                查询到的数据如下
                            </div>
                        </div>
                    </div>
                    <div class="layui-card-body ">
                        <table class="layui-table layui-form">
                            <thead>
                            <tr>
                                <th>所属用户id</th>
                                <th>订单编号</th>
                                <th>收货人</th>
                                <th>总金额</th>
                                <th>应付金额</th>
                                <th>支付状态</th>
                                <th>发货状态</th>
                                <th>支付方式</th>
                                <th>配送方式</th>
                                <th>下单时间</th>
                                <th>操作</th></tr>
                            </thead>
                            <tbody>
                            <tr th:each="order:${allOrder}">
                                <td th:text="${order.vipId}">2017009171822298053</td>
                                <td th:text="${order.oderNumber}">2017009171822298053</td>
                                <td th:text="${order.consignee}">老王:18925139194</td>
                                <td th:text="${order.amount}">7829.10</td>
                                <td th:text="${order.amountPayable}">7854.10</td>
                                <td th:text="${order.orderStatus}">未支付</td>
                                <td th:text="${order.deliveryStatus}">未发货</td>
                                <td th:text="${order.paymentMethod}">其他方式</td>
                                <td th:text="${order.distributionMode}">申通物流</td>
                                <td th:text="${order.orderCreatTime}">2017-08-17 18:22</td>
                                <td class="td-manage">
                                    <a title="删除"th:href="@{/order/deleteOneById/}+${order.id}" href="javascript:;">
                                        <i class="layui-icon">&#xe640;</i></a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="layui-card-body ">
                        <div class="page">
                            <div>
                                <a th:href="@{/order/list/0}" style="color: chocolate">返回</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>